/Tema7ej3/build/
/Tema7ej3/dist/
/Tema7ej2/build/
/JavaApplication62/nbproject/private/
/Tema6ej7/nbproject/private/
/Tema7ej6/nbproject/private/
/Tema7ej6/build/
/Tema7ej6/dist/
/Tema7ej7/nbproject/private/
/Tema7ej7/build/
/Tema7ej7/dist/
/Tema7ej8/nbproject/private/
/Tema7ej8/build/
/Tema7ej8/dist/
/Tema7ej9/nbproject/private/
/Tema7ej9/build/
/Tema7ej9/dist/
/Tema7ej11/nbproject/private/
/Tema7ej11/build/
/Tema7ej11/dist/
/Tema7ej10/nbproject/private/
/Tema7ej10/build/
/Tema7ej10/dist/
/TestsAM/nbproject/private/
/TestsAM/build/
/Tema7ej12/nbproject/private/
/Tema7ej14/nbproject/private/
/Tema7ej14/build/
/Tema7ej14/dist/
/Tema7ej15/nbproject/private/
/Tema7ej15/dist/
/Tema7ej15/build/
